<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="card bg-base-300 shadow-sm p-6">
          <figure
            class="mb-4 aspect-video bg-base-100 rounded-lg overflow-hidden"
          >
            <img
              src="https://picsum.photos/seed/1/600/300?random=1"
              alt=""
              class="w-full h-full object-contain"
            />
          </figure>
          <div class="card-body">
            <div class="card-title">Smart Progress Tracking</div>
            <p class="text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
              modi perspiciatis similique dignissimos fuga necessitatibus
              voluptates rerum obcaecati doloremque! Minima alias corporis sit
              blanditiis ratione aliquid ut perferendis incidunt. Ullam?
            </p>
            <div class="card-actions justify-end mt-4">
              <button class="btn btn-primary">Action</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-300 shadow-sm p-6">
          <figure
            class="mb-4 aspect-video bg-base-100 rounded-lg overflow-hidden"
          >
            <img
              src="https://picsum.photos/seed/2/600/300?random=2"
              alt=""
              class="w-full h-full object-contain"
            />
          </figure>
          <div class="card-body">
            <div class="card-title">AI Suggestion & Recommendation</div>
            <p class="text-justify">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit
              doloremque consequuntur cupiditate inventore ex magni beatae atque
              voluptatibus enim, dolores qui dignissimos architecto tempora!
              Dolorem laudantium asperiores doloribus nobis culpa.
            </p>
            <div class="card-actions justify-end mt-4">
              <button class="btn btn-primary">Action</button>
            </div>
          </div>
        </div>
        <div class="card bg-base-300 shadow-sm p-6">
          <figure
            class="mb-4 aspect-video bg-base-100 rounded-lg overflow-hidden"
          >
            <img
              src="https://picsum.photos/seed/3/600/300?random=3"
              alt=""
              class="w-full h-full object-contain"
            />
          </figure>
          <div class="card-body">
            <div class="card-title">Personalized Insights</div>
            <p class="text-justify">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Praesentium, ratione. Eius neque odio assumenda non fugiat
              necessitatibus iure, molestiae explicabo temporibus voluptates
              consectetur. Odit facere similique reiciendis voluptatem tempore
              minus!
            </p>
            <div class="card-actions justify-end mt-4">
              <button class="btn btn-primary">Action</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
