<section class="min-h-[80vh] hero bg-base-200">
  <div class="hero-content flex flex-col lg:flex-row gap-12 lg:gap-24">
    <div class="flex-1 lg:w-1/2 ">
      <h1 class="lg:text-6xl text-4xl font-bold mb-4 text-center lg:text-left">Track Your Habits <span class="text-primary text-rotate duration-7000">
        <span>
          <span>Effortlessly</span>
          <span>Easily</span>
          <span>Without Hassle</span>
        </span>
      </span></h1>
      <p class="mb-6 text-lg text-center lg:text-left">Stay on top of your daily routines with our intuitive habit tracker. Visualize your progress and maintain your streaks to build lasting habits.</p>
      <div class="flex gap-4 lg:justify-start justify-center">
        <a :href="basePath + '/pages/track.html'" class="btn btn-primary btn-md"><i class="fa fa-play mr-3"></i>Start Tracking Now</a>
        <a href="#features" class="btn btn-outline btn-md"><i class="fa fa-info mr-3"></i>More Info</a>
      </div>
    </div>
    <div class="flex-1 lg:w-1/2">
      <div class="mockup-browser bg-base-100 border border-base-300 shadow-xl py-4">
        <div class="mockup-browser-toolbar">
          <div class="input text-sm">dailyblueprint.com/track</div>
        </div>
        <div class="bg-base-200 p-4 h-full">
          <div class="grid grid-cols-2 gap-4">
            <!-- Card A -->
            <div class="card bg-base-100 p-4 shadow">
              <div class="flex items-center gap-2 mb-2">
                <i class="fa-solid fa-fire text-warning"> </i>
                <span class="text-xs font-bold">7 Day Streak!</span>
              </div>
              <progress value="3" max="7" class="progress progress-warning w-full"></progress>
              <span class="text-xs font-medium mt-2 text-right">3/7 Days</span>
            </div>
            <!-- Card B -->
            <div class="card bg-base-100 p-4 shadow">
              <div class="flex items-center gap-2 mb-2">
                <div class="fa fa-tint text-info"></div>
                <span class="text-xs font-bold">Water Intake</span>
              </div>
              <progress value="240" max="320" class="progress progress-info w-full"></progress>
              <span class="text-xs font-medium mt-2 text-right">2.4 / 3.2 Litres</span>
            </div>
            <!-- Card C -->
            <div class="col-span-2 card bg-base-100 p-4 shadow">
              <div class="text-xs font-bold mb-2">Weekly Progress</div>
              <div class="w-full h-24">
                <canvas id="weeklyChart" class="w-full h-full"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>